body {
    margin: 0px;
    font-family: "open sans";
}

header {
    color: white;
    border-bottom: #89DEEF 3px solid;
    background-color: #004175;
    padding: 10px 0px 10px 85px;
}

.adopt {
    padding: 0px 0px 0px 85px;
}

.doggos { /* Container for dog images, name and attriubutes */
    height: 325px;
    width: 400px;
    display: inline;
}

h3 {
    margin: 2px;
}

.row, .rowa, .rowb {
    width: 90%;
    height: 415px;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}

.doggos img {
    max-height: 325px;
    width: 100%;
}

.attr {
    display: flex;
    flex-wrap: wrap;
}

span {
    font-size: .9em; /* font sizing -> https://www.w3schools.com/css/css_font_size.asp */
    background-color: #89DEEF;
    border-radius: 10px;
    padding: 1px 3px 1px 3px;
    margin: 0px 1px 5px 1px;
}

footer {
    display: flex;
    height: 350px;
    width: 100%;
    line-height: 350px; /* centered footer text -> https://www.w3schools.com/css/tryit.asp?filename=trycss_align_line-height */
    font-family: "Oswald";  
    font-size: 3.2em;
    /* font-weight: bold; */
}

.donate, .volunteer, .location {
    color: white;
    flex: 1 1 auto;
    text-align: center; 
    /* margin: auto; -> doesn't seem to have an affect */
}

.donate {
    background: 
    linear-gradient(
        rgba(166, 169, 240, 0.45), 
        rgba(166, 169, 240, 0.45)
    ),
    url(starter_files/images/donate.jpg);
    background-size: 100%;
}

.volunteer {
    background: 
    linear-gradient(
        rgba(166, 169, 240, 0.45), 
        rgba(166, 169, 240, 0.45)
    ),
    url(starter_files/images/volunteer.jpg);
    background-size: 100% cover; /* cover prevented dup of image appearing on the bottom */
}

.location {
    background: 
    linear-gradient(
        rgba(166, 169, 240, 0.45), 
        rgba(166, 169, 240, 0.45)
    ),
    url(starter_files/images/location.png);
    background-size: 100%; /* https://stackoverflow.com/questions/27845981/css-size-only-the-background-image-not-the-gradient */
} 