body {
    margin: 0px;
    font-family: "open sans";
}

.head {
    color: white;
    border-bottom: #89DEEF 3px solid;
    background-color: #004175;
    padding: 10px 0px 10px 85px;
}

.adopt {
    padding: 0px 0px 0px 85px;
}


/* Will add this to individual areas, as this is affecting footer images too
img {
    height: 270px;
    width: 370px;
} */

.row {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    /* background-color: red; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around; 
}

.rowa {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    /* background-color: blue; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

.rowb {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    /* background-color: greenyellow; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}


.doggos {
    height: 325px;
    width: 400px;
    display: inline;
}

.doggos img {
    height: 270px;
    width: 370px;
}

span {
    background-color: #89DEEF;
    border: #89DEEF;
    border-radius: 10px;
    padding: 0px 3px 0px 3px;
    /* Does't make any noticeable change with this added
    display: flex;
    display: inline-block; */
}


footer {
    display: flex;
    height: 350px;
    width: 100%;
    line-height: 350px;
    font-size: x-large;
    font-weight: bold;

}

.donate {
    color: white;
    flex: 1 1 auto;
    /* border: red 1px solid; */
    text-align: center;
    margin: auto;
    background: 
    linear-gradient(
        rgba(166, 169, 240, 0.45), 
        rgba(166, 169, 240, 0.45)
    ),
    url(starter_files/images/donate.jpg);
}

.volunteer {
    color: white;
    flex: 1 1 auto;
    /* border: red 1px solid; */
    text-align: center;
    margin: auto;
    background: 
    linear-gradient(
        rgba(166, 169, 240, 0.45), 
        rgba(166, 169, 240, 0.45)
    ),
    url(starter_files/images/volunteer.jpg);
}

.location {
    color: white;
    flex: 1 1 auto;
    /* border: red 1px solid; */
    text-align: center;
    margin: auto;
    background: 
    linear-gradient(
        rgba(166, 169, 240, 0.45), 
        rgba(166, 169, 240, 0.45)
        ),
        url(starter_files/images/location.png);
} 